/* lesson four stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
    margin: 0px;  
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 63px;
    width: 100vw;
    background-color: rgb(15,15,15);    
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
}
.logo-and-icon{
    display: flex;
    column-gap: 24px;
}
.logo-and-icon img{
    height: 29px;
    width: 99px;
}
.hamburger{
    display: flex;
    flex-flow: column;
    /* width: 40px; */
    /* height: 40px; */
    /* border-radius: 20px; */
    border: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(15,15,15);
}
.hamburger hr{
    display: block;
    border: none;
    margin: 3px 0;
    padding: .5px;
    width: 19px;
    color: white;
    background-color: white;
}

.search-and-mic{
    display: flex;
}
.searchbar{
    display: flex;
    height: 40px;
    width: 605px;
    border-radius: 20px;
    border: rgb(48,48,48) solid 1px;
    /* border-bottom-left-radius: 20px; */
}
.searchbar input{
    display: block;
    height: 100%;
    width: 540px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    background-color: rgb(18,18,18);
    color: rgb(136,136,136);
    box-sizing: border-box;
    border-right: rgb(48,48,48) solid 1px;
}
.search-icon{
    height: 100%;
    flex: 1;
    background-color: rgb(34,34,34);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    /* vertical-align: middle; */
}
.search-icon svg{
    fill: white;
    width: 26px;
    display: block;
    margin: 0 auto;
    /* font-size: 12px; */
    /* background-color: white; */
}