/* lesson four stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
    background-color: black;
}
.close{
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    /* padding: 10px; */
    border-radius: 20px;
    text-align: center;
    border: 1px solid red;
    vertical-align: middle;
}

.popup{
    height: 150px;
    width: 260px;
    background-color: gray;
    position: fixed  ;
    bottom:10px;
    right:10px;
}
.close-pop{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    /* padding: 10px; */
    text-align: center;
    border: 1px solid red;
    vertical-align: middle;   
    position:absolute;
    top: -10px;
    left: -10px;
}
.v-length{
    padding: 5px;
    font-size: 14px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.amazon-listing{
    position: relative;
    display: inline-block;
    width: max-content;
    /* height: max-content; */
    margin: 0;
    border: 1px solid red;
}
.amazon-listing img{
    height: 365px;
    width: 255px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    padding: 0;
    /* display: block; */
    vertical-align: top;
}
.discount{
    background-color: black;
    color: white;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 0px;
}
.banner{
    background-color: rgba(255,255,255,.5);
    height:33.33%;
    width: 100%;
    z-index: 10;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: white;
    border: solid 2px black;
    padding: 5px 10px;
    /* letter-spacing: 0; */

}