/* lesson four stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.practice-grid{
    display: flex;
    flex-flow: row;
    padding: 10px;
}
.one{
    flex:0 0 100px;
    background-color: lightgreen;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.two{
    flex:0 0 200px;
    background-color: lightpink;
}
.item{
    background-color: black;
    color: white;
}

/* 13b */
.two-b{
    flex: 0 0 200px;
    display: flex;
    flex-flow: column;
    background-color: lightpink;
}
.block{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.row{
    background-color: black;
    color: white;
}

.practice-grid-two{
    background-color: whitesmoke;
    padding:10px
}
.container{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-flow: column;  
    box-shadow: 0 0 1px rgb(0,0,0);
    row-gap: 10px;
    width: 395px;
}
.one-b{
    color: gray;
    font-size: 14px;
    /* margin-bottom: 20px; */
}

/* 13c */
.notification{
    display: flex;
    flex-flow: row;
    column-gap: 10px;
    align-items: flex-start;
}
.profile{
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    object-fit: cover;
    align-items: center;
    margin-top: 5px;
}
.text-box{
    display: flex;
    flex-flow: column;
    color: black;
    /* border: red solid 1px; */
    flex: 1;
    row-gap: 3px;
    white-space: nowrap;
    overflow: hidden;

    /* justify-content: center; */
}
.title{
    display: flex;
    flex-flow: row;
    /* color: black; */
    justify-content: space-between;
    /* border: blue solid 1px; */
    font-size: 18px;
}
.name, .tag{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
.time{
    display: block;
    color: gray;
    font-size: 14px;
}
.message{
    margin: 0;
    color: gray;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet-container{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-flow: column;  
    box-shadow: 0 0 1px rgb(0,0,0);
    row-gap: 10px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 500px;
    font-weight: 549;
}
.tweet-box{
    display: flex;
    flex-flow: column;
    color: black;
    /* border: red solid 1px; */
    flex: 1;
    row-gap: 3px;
    /* white-space: nowrap; */
    overflow: hidden;
    margin-top: 5px;

    /* justify-content: center; */
}
.profile-twitter{
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    object-fit: cover;
    align-items: center;
}
.username{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.twitter-id{
    margin: 0;
    font-weight: normal;
    /* font-size: 16px; */
    margin: 0;
    color: gray;
}
.tweet{
    margin: 0;
    font-size: 18px;
    margin-bottom: 10px;
}
.hook{
    display: flex;
    flex-flow: row;
    border: solid 1px black;
    width: max-content;
    border-radius: 20px;
}
.thumbnail{
    width: 100px;
    /* height: 100px; */
    border: solid 1px black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: lightgray;
    margin: 0;
}
.yt-link{
    width: 250px;
    border: solid 1px black;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-size: 18px;
}
.yt-link a{
    display: block;
    color: rgb(86,98,112);
    margin: 10px 0;
    text-decoration: none;
}
.yt-link p{
    color: rgb(86,98,112);
    margin: 0;
}