/* lesson four stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
font-family: 'Montserrat', sans-serif; 
font-family: 'Roboto', sans-serif;
*/

body{
    padding-left: 263px;
}

.sidebar{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 3;
    width: 238px;
    height:100%;
    box-sizing: border-box;
    border-radius: solid 5px red;
    padding: 68px 12px 0;
    background-color: rgb(15,15,15);
}
.sidebar hr{
    width: 209px;
    margin: 12px 0 12px;
    /* font-size: 1px; */
    height: 1px;
    border: none;
    background-color: rgb(61, 61, 61);
    text-align: left;
}
.sidebar p{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.home, .shorts, .subscriptions, .library, .history, .your-videos, .watch-later, .liked-videos, .your-clips{
    display: flex;
    width: 204px;
    height: 40px;
    border-radius: 10px;
    padding:0px 12px ;
    box-sizing: border-box;
    column-gap: 24px;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}
.home:hover, .shorts:hover, .subscriptions:hover, .library:hover, .history:hover, .your-videos:hover, .watch-later:hover, .liked-videos:hover, .your-clips:hover{
    background-color: rgb(61, 61, 61);
    /* background-color: white; */
}
.home svg, .shorts svg, .subscriptions svg, .library svg, .history svg, .your-videos svg, .watch-later svg, .liked-videos svg, .your-clips svg{
    fill: white;
    width:24px;
    display: block;
    margin: 0;

}